extends ../../templates/layout


block content
	article.project.text-justify
		a.button.bg-black.my-2(href='https://github.com/MStefan99/Crash-Course')
			img.button-icon(src='/img/icons/github.svg' alt='GitHub logo')
			span View source code on GitHub
		h1

