highlight-color = #18492E


html
	font-family sans-serif
	scroll-behavior smooth
	overflow-x hidden
	font-size 12pt

	body
		margin 0
		display flex
		flex-flow column nowrap

		.highlight
			color highlight-color

		p
			line-height 1.5em

		a
			color inherit

		.bullet::before
			content '› '

		.double-bullet::before
			content '» '

		header
			background highlight-color
			padding 2vh 5vw
			color white

			#name
				text-decoration none
				font-size 4em
				font-weight bold

				@media screen and (max-width 375px)
					font-size 3em

			#info
				font-size 1.5em

		main
			&>*
				margin 2em

			a
				color inherit
				display block
				margin-bottom .5em

			.sticky
				@media screen and (max-width 1024px)
					border-bottom 1px solid darken(white, 30)

				@media screen and (min-width 1024px)
					position sticky
					padding 0 2ch
					top 2vh
					height 95vh
					overflow-y auto
					overflow-x hidden
					flex 1 0 0

				&>h1
					hyphens manual

			#nav-container
				order 0

				a
					text-decoration none

				#nav-list
					font-size .9em

					h2
						margin-left 1ch

					h3
						margin-left 3ch

			#link-container
				order 2

				a
					font-size 1.2em

			article
				order 1
				flex 4 0 0

			#photo
				max-height 40vh
				max-width 250px
				min-height 100px
				min-width 100px
				border-radius 500px

		footer
			background-color darken(white, 2)

			a
				display block
				margin-bottom .5em

		#cookie-consent
			position fixed
			right 0
			bottom 5vh
			background-color darken(white, 3)
			border 1px solid black
			border-radius 8px

			#consent-close
				margin-left 2ch
