highlight-color = #2a7b88


html
	font-family sans-serif
	scroll-behavior smooth
	overflow-x hidden
	font-size 12pt

	body
		margin 0
		display flex
		flex-flow column nowrap

		.highlight
			color highlight-color

		p
			line-height 1.5em

		a:not(:visited)
			color inherit

			&:not(:hover)
				text-decoration none

		.bullet::before
			content '› '

		.double-bullet::before
			content '» '

		header
			background highlight-color
			padding 2vh 5vw
			color white

			h1
				color inherit

		main
			&>*
				margin 2em

			#nav-container
				order 0

			#link-container
				order 2

				a
					font-size 1.2em

			article
				order 1

				#about
					#photo
						max-height 40vh
						max-width 30vw
						min-height 100px
						min-width 100px
						border-radius 50%
