@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.photo-shape {
		shape-outside: circle(calc(50% - 8px) at calc(50% - 16px) center)
	}
}

html {
	@apply scroll-smooth overflow-x-hidden text-base font-sans dark:bg-zinc-900 dark:text-neutral-50;

	--color-accent: #18492e;
	--color-accent-soft: #e5fff1;
}

body {
	@apply m-0;
}

article, .sticky {
	@apply my-8;
}

header {
	@apply flex justify-between items-baseline flex-wrap bg-accent text-white
	py-1 px-4 rounded-b-xl
	md:py-2 md:px-6 md:rounded-b-xl;
}

header #name {
	@apply no-underline grow font-bold
	text-lg text-center
	xs:text-3xl xs:text-left;
}

article {
	order: 1;
	flex: 4 0 0;
}

#about {
	@apply md:text-accent dark:md:text-accent-soft;
}

#photo {
	@apply max-xs:mx-auto mb-4 rounded-full max-h-48
	xs:float-right xs:bg-clip-content xs:photo-shape xs:ml-4;
	min-width: min(100px, 100vw);
}

footer {
	@apply flex justify-around p-4 bg-white dark:bg-zinc-800;
}

footer a {
	@apply mb-1;
}


/* Utility styles */

p {
	@apply leading-relaxed;
}

a {
	@apply text-inherit underline;
}

.clearfix {
	@apply overflow-auto;
}

ul {
	@apply list-disc list-inside;
}

h1 {
	@apply font-black text-3xl tracking-tight mb-2;
}

.split-container {
	@apply w-full relative;
}

.split-container:before {
	@apply md:absolute md:block md:left-0 md:right-1/2 md:mr-4 md:bg-accent md:h-full;
	content: '';
}

.split-layout {
	@apply relative text-justify max-w-screen-lg
	md:flex md:flex-row-reverse md:flex-nowrap md:mx-auto;
}

.split-layout:before {
	@apply absolute bg-white left-4 right-4 bottom-4 h-1;
	content: '';
}

.split-layout:after {
	@apply md:absolute md:bg-accent md:left-1/2 md:right-4 md:bottom-4 md:h-1;
	content: '';
}

.split-layout > * {
	@apply p-4;
}

.split-layout p:not(:last-of-type) {
	@apply mb-4;
}

.split-layout > *:first-child {
	@apply md:text-accent dark:md:text-accent-soft md:pb-8;
	flex: 0 0 50%;
}

.split-layout > *:last-child {
	@apply bg-accent text-white pb-8;
	flex: 0 0 50%;
}

.split-container:first-of-type > .split-layout > *:last-of-type {
	@apply md:rounded-tr-2xl;
}

.split-container:last-of-type > .split-layout > *:first-of-type {
	@apply md:rounded-br-2xl;
}

.bullet::before {
	content: '› ';
}

.double-bullet::before {
	content: '» ';
}


/* Old styles, to be updated */

@media screen and (max-width: 1024px) {
	.sticky {
		border-bottom: 1px solid #b3b3b3;
	}
}

@media screen and (min-width: 1024px) {
	.sticky {
		position: sticky;
		padding: 0 2ch;
		top: 2vh;
		height: 95vh;
		overflow-y: auto;
		overflow-x: hidden;
		flex: 1 0 0;
	}
}

#nav-container {
	order: 0;
}

#nav-container a {
	text-decoration: none;
}

#nav-container #nav-list {
	font-size: 0.9em;
}

#link-container {
	order: 2;
}

#link-container a {
	font-size: 1.2em;
}

