
p{
    display: inline;
}

.text{
    padding: 0 0 0 40px;
    display: block;
}

#name, #name:visited{
    color: #333;
    text-decoration: none;
}

#name:hover{
    color: #000;
    text-decoration: none;
}

a{
 text-decoration: underline;
    color: #000;
}

img{
    max-width: 32px;
}

#refs{
    margin-left: 10px;
}

