html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: #1c71d5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header > * {
    padding: 2vh 2vw 0 2vw;
}

header * {
    color: white;
}

header #name {
    font-size: 32pt;
}

header #name span {
    margin: 0 2vw;
}

header #info {
    padding: 1vh 2vw;
    font-size: 14pt;
}

header #info span {
    margin: 0 5vw;
}

#menu-container {
    float: right;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    background: black;
}

#menu-list {
    margin: 0;
    padding: 2vh 2vw;
}

.menu-item {
    margin: 0;
    padding: 1vh 1vw;
}

.item-container * {
    background: black;
    color: white;
    font-weight: bolder;
}

.item-container:before {
    content: "•";
    color: white;
    font-weight: bolder;
}

.no-bullets {
    list-style: none;
}

.notification {
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    font-size: 52pt;

    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: repeating-linear-gradient(
            -45deg,
            #FFA500 0,
            #FFA500 5vw,
            #000000 5vw,
            #000000 10vw
    );
}

.notification span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: underline;
    color: white;
    word-break: break-word;
}