html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
}

header {
    background: #1c71d5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header > * {
    padding: 2vh 2vw 0 2vw;
}

header * {
    color: #ffffff;
}

header #name {
    font-size: 32pt;
    font-weight: 300;
}

header #name span {
    margin: 0 2vw;
}

header #info {
    padding: 1vh 2vw;
    font-size: 14pt;
}

header #info span {
    margin: 0 5vw;
}

header #menu {
    margin: auto 3vw auto 0;
    padding: 0;
}

header #menu #menu-button {
    cursor: pointer;
}

main #menu-container {
    position: absolute;
    right: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    background: #000000;
    transition: transform cubic-bezier(0.4, 0.3, 0, 0.9) 1s;
}

main #menu-title {
    margin: 2vh auto;
    color: #ffffff;
    font-size: 18pt;
    font-weight: 300;
}

main .menu-subtitle {
    margin: 1vh auto;
    color: #ffffff;
    font-size: 14pt;
    font-weight: 300;
}

main .menu-list {
    margin: 0;
    padding: 2vh 5vw 4vh 3vw;
}

main .menu-item {
    margin: 0;
    padding: 1vh 1vw;
    cursor: pointer;
}

main .item-container .menu-link {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

main .menu-item:hover {
    background: #1f1f1f;
}

main .item-container:before {
    content: "•";
    color: #ffffff;
    font-weight: 700;
}

main #main-group {
    padding: 2vh 2vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
}

main #main-group > * {
    margin: 0 1vw;
}

main #left-container {
    order: 0;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

main #main-container {
    order: 1;
    flex-grow: 10;
    display: flex;
    flex-flow: column nowrap;
}

main #right-container {
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

main #main-container .title {
    font-weight: 700;
    font-size: 22pt;
    margin: 2vh 0;
}

main #main-container .section {
    margin: 1vh 0;
    font-size: 14pt;
    padding: 0 1vw;
}

main #main-container #profile-photo {
    height: 20vh;
}

main #main-container #education-list {
    padding: 0;
}

main #main-container #education-list .list-element {
    margin: 2vh 0;
}

main #main-container #education-list .list-element:before {
    display: inline;
    content: "»";
    font-weight: 700;
}

main #main-container #education-list .list-element .title {
    font-size: 14pt;
}

main #main-container #education-list .list-element .info {
    padding: 1vh 2vw;
}

main #main-container #education-list .list-element .info .info-element:before {
    display: inline;
    content: "›";
    font-weight: 700;
}

l {
    font-weight: 300;
}

.list {

}

.right {
    float: right;
}

.hidden-right {
    transform: translate(
            100%, 0
    );
}

.hidden {
    display: none;
}

.notification {
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    font-size: 52pt;

    font-style: italic;
    font-weight: 700;
    text-align: center;
    background: repeating-linear-gradient(
            -45deg,
            #FFA500 0,
            #FFA500 5vw,
            #000000 5vw,
            #000000 10vw
    );
}

.notification span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: underline;
    color: #ffffff;
    word-break: break-word;
}

@media screen and (max-width: 425px) {
    main #menu-container {
        width: 100vw;
        left: 0;
    }

    main .menu-list {
        padding: 0;
        margin: 2vh auto;
    }
}