html {
	font-family: sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-size: 12pt;
}

body {
	margin: 0;
}

p {
	margin: .5em;
}

header {
	background: #1c71d5;
	padding: 2vh 5vw;
	color: #ffffff;
}

header #title {
	margin: 2vh 5vw;
}

header h1 {
	margin: 0;
}

header #name {
	color: white;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	header #name {
		font-size: 2em;
	}
}

header #info {
	margin-left: 5vw;
}

main {
	min-height: 100vh;
}

main #menu-container {
	position: absolute;
	padding: 3vh 4vw;
	right: 0;
	display: flex;
	flex-flow: column nowrap;
	color: white;
	background: black;
	transition: transform cubic-bezier(0, 1, 0.65, 1) .8s;
}

@media screen and (max-width: 425px) {
	main #menu-container {
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
}

main #left-container h1, main #right-container h1 {
	margin: 1em 1em;
}

main #navigation-container, main #contact-container {
	position: sticky;
	top: 10vh;
}

main #navigation-list {
	padding-left: 0;
	font-size: .8em;
}

main #contact-list {
	padding-right: 0;
	font-weight: bold;
}

main #navigation-container a, main #contact-container a {
	color: black;
	text-decoration: none;
}

main #navigation-container h2 {
	margin-left: .5em;
}

main #navigation-container h3 {
	margin-left: 1em;
}

main #navigation-container h4 {
	margin-left: 1.2em;
}

@media screen and (max-width: 1024px) {
	main #left-container, main #right-container {
		display: none;
	}
}

main #main-container {
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	box-sizing: border-box;
}

main #left-container {
	order: 0;
	flex: 0 1 20%;
}

main #content-container {
	order: 1;
	flex: 1 0;
}

main #right-container {
	order: 2;
	flex: 0 1 20%;
}

main #main-container #profile-photo {
	max-height: 40vh;
	max-width: 30vw;
	min-height: 100px;
	min-width: 100px;
}

li {
	list-style: none;
	margin: 1vh 1vw;
}

.single-bullet:before {
	display: inline;
	content: "›";
	font-weight: bold;
}

.double-bullet:before {
	display: inline;
	content: "»";
	font-weight: bold;
}

l {
	font-weight: 300;
}

ul, li p {
	margin: 0;
	padding: 0 1em;
}

.hidden-right {
	transform: translateX(100%);
}

.hidden {
	display: none;
}

.horizontal {
	display: flex;
	flex-flow: row nowrap;
}

@media screen and (max-width: 425px) {
	.horizontal {
		flex-direction: column;
	}
}

footer {
	background: #efefef;
	min-height: 5vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 2vh 5vw;
	color: #666666;
}

footer a {
	font-size: .8em;
	color: #616078;
	display: block;
}
