extends ../templates/layout

include ../templates/experience
include ../templates/education
include ../templates/projects


block body
	header.d-flex.justify-content-between.align-items-baseline.flex-wrap
		a#name(href='https://mstefan99.com/')
			span Mikhail Stefantsev
		span#info Personal page
