extends ../templates/layout


block content
	h1.mr-4.rotate-180.text-right(style='writing-mode: vertical-lr') Projects
	.gallery-row.p-4
		a(href='/projects/gimbal').project-card
			img(src='/img/projects/gimbal/assembled.jpg' alt='A smartphone gimbal 3D-printed out of gray ' +
			'plastic on a tripod. Gimbal stands on a table before a monitor displaying a CAD model of the gimbal.')
			.m-2
				h1 Smartphone gimbal
				p Open-source gimbal for smartphones and action cameras
		a(href='/projects/crash_course').project-card.disabled
			img(src='/img/projects/crash_course/logo.svg'
				alt='Crash course logo. Words "Crash Course" written in white with a black outline against a white ' +
				'background. Words are written on two lines with a red arrow between them pointing from left to right, ' +
				'curving towards the bottom at the end')
			.m-2
				h1 Crash Course
				h2 Tracking shouldn't mean giving up privacy
				p Analytics platform that respects visitors' privacy
		.project-card.disabled
			img(src='/img/projects/flight_computer/v2.jpg' alt='A green rectangular PCB assembled with ' +
			'electronic components and many pin headers.')
			.m-2
				h1 Flight computer
				p Custom hardware and software to help fly model aircraft
		.project-card.disabled
			img(src='/img/projects/power_meter/power.jpg'
				alt='DIY power meter. A PCB with a display showing 58.07mW in large font, with a similarly large ' +
				'word "Power" underneath. In the background is a graph showing power consumption history. ' +
				'The UI is executed in the shades of yellow: the power value is pale yellow, almost white. ' +
				'Area under the graph is darker, followed by the word power. Background is dark yellow.')
			.m-2
				h1 Power meter
				p A simple but very handy DIY power meter
		.project-card.disabled
			img(src='/img/projects/siter/logo.svg'
				alt='Siter logo. Black word "siter" against the white background written in cursive')
			.m-2
				h1 Siter
				h2 Hosting, made easy
				p Reverse proxy with GUI and a process manager
		.project-card.disabled
			img(src='/img/projects/my_hr/desktop.jpg'
				alt='Image showing an app with a desktop-like environment with multiple application windows used to review ' +
				'applications for taking part in a project')
			.m-2
				h1 My HR
				p System for processing applications
	.main-layout
		for _ in Array(40)
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur, at commodi debitis deserunt error est hic illum inventore magni, modi nihil, pariatur quaerat quia ratione unde vel voluptate voluptatum.
