extends ../templates/layout

include ../templates/experience
include ../templates/education
include ../templates/projects


block content
	article.m-4
		h2#about.highlight About
		img#photo.ml-3(alt="Profile photo" src="./img/profile_photo.jpg")

		+workSection
			+work('Metropolia University of Applied Sciences', 'Assistant lecturer', '2021-09-01', '2021-12-31', [
				'Designing and creating course contents and assignments',
				'Giving lectures',
				'Assisting students with assignments',
				'Grading'
			])
			+work('Nokia Solutions and Networks', 'Test engineer', '2021-03-01', '2021-08-31', [
				'Thesis work',
				'Optimizing and maintaining automated test suite'
			])
			+work('Nokia Solutions and Networks', 'Test engineer', '2020-05-01', '2020-08-31', [
				'Maintaining and updating automated test suite'
			])

		+eduSection
			+edu('Metropolia University of Applied Sciences', 'Information and Communication Technologies',
				'Smart systems', '2018-08-24', '2021-12-20')
			+edu('ITMO University, Russia', 'Information Technology', 'Operating Systems and Application software',
				'2017-09-01', '2018-05-31')

		+projectSection
			+project('ardUI', 'A C++ UI for the modern age', 'ardUI is a simple yet powerful framework that allows you ' +
			'to quickly build complex, interactive and beautiful interfaces for all your projects. Designed for ' +
			'low-end embedded systems, ardUI stays fast and efficient even with complex interfaces. Developed from ' +
			'scratch in C++ including an STL-compatible template library.')
				p More info:
				a.mr-4(href='https://github.com/MStefan99/ardUI') Project on GitHub
				a(href='https://ardui.mstefan99.com/') Project website

			+project('My HR', null, 'My HR is a recruiting application built for a school project and includes features ' +
			'for for collecting, viewing, discussing and managing applications. Made with Node, SQL and web technologies.')
				p More info:
				a(href='https://github.com/MStefan99/My-HR') Project on GitHub

			+project('Flight computer', null, '(A yet unnamed) Flight computer is a system designed to make flying RC ' +
			'models safer and more fun. Including anything from flight assist to fully autonomous modes, this is a ' +
			'perfect addition to any model aircraft.')
				i.text-muted Project early in development, many features may not yet be available
				p More info:
				a.mr-4(href='https://github.com/MStefan99/Command-Center') Companion app on GitHub
				a.mr-4(href='https://github.com/MStefan99/wireless-receiver') Wireless receiver firmware on GitHub
				a.mr-4(href='') Main processor firmware on GitHub (currently unavailable)
				a(href='https://github.com/MStefan99/flight-computer-fpu') Flight processor firmware on GitHub

			+project('Siter', 'Set up your web server without messing with config files!',
				'Originally planned to be a web interface for Apache, Siter has since become a standalone application you ' +
				'can use to easily set up your web server to host a variety of things. You can configure Siter to serve ' +
				'static files, be a reverse proxy or both at the same time. The main goal of Siter is to make setting up ' +
				'servers easy and streamlined, whether you just need to host a single application you made yourself or ' +
				'dozens of web servers used by a lot of people. Siter was designed to be fast and reliable, features ' +
				'an easy-to-use web interface and can be set up in minutes!')
				p More info:
				a(href='https://github.com/MStefan99/Siter') Project on GitHub

			+project('Deep learning robot', null, 'Building on the foundation of the 1st-year school project ' +
			'and previous machine learning experiments, this project combines the two to help a robot find its way ' +
			'through a maze without any fixed algorithm just by utilizing the power of a neural network.')
				p More info:
					a.mr-4(href='https://github.com/MStefan99/deep-learning-zumo-client') Project on GitHub (client)
					a(href='https://github.com/MStefan99/deep-learning-zumo-server') Project on GitHub (server)

			+project('Credible', null, 'Credible is a secure key-value storage for your most sensitive data. ' +
			'With support for JSON, multiple users and nested keys, it can handle everything you need to keep safe. ' +
			'Credible automatically encrypts everything you save and checks whether your data has been tampered with.')
				p More info:
				a(href='https://github.com/MStefan99/Credible') Project on GitHub

			+project('Simply message', null, 'A messenger built with Node and MongoDB featuring real-time messaging ' +
			'with end-to-end encryption.')
				p More info:
				a(href='https://github.com/MStefan99/Simply-Message') Project on GitHub

			+project('MIDI parser', null, 'Developed for future projects, Midi Parser is a tiny C++ library for ' +
			'parsing binary MIDI files to be used later in any C++ application.')
				p More info:
					a.mr-4(href='https://github.com/MStefan99/Midi-Parser') Project on GitHub
					a(href='https://midi-parser.mstefan99.com/') Project website

			+project('Trader bot', null, 'An automated bot for trading stocks powered by machine learning. ' +
			'The project is currently incomplete, however the repository includes a neural network written from ' +
			'scratch in C++.')
				i.text-muted Project incomplete due to scheduling, no plans to continue at this time
				p More info:
					a(href='https://github.com/MStefan99/trader') Project on GitHub

		+projectSection('School projects')
			+project('Programmer calculator', null, 'The calculator is an Android application for making scientific ' +
			'or programming calculations. The app also supports different color schemes and is localized ' +
			'to 6 languages. Calculator application was developed for Metropolia UAS Mobile course.')
				p More info:
				a(href='https://github.com/MStefan99/programmer-calculator') Project on GitHub

			+project('Robot project', null, 'Done for one of university courses, this project included programming a ' +
			'PSoC-based robot platform to perform various tasks like sumo battle, line following and pathfinding.')
				p More info:
				a(href='https://github.com/MStefan99/robot-project') Project on GitHub

