mixin projectSection(title)
	div.project-section
		h2#project-section.highligh= title || 'Projects'
		div.ml-2
			block


mixin project(name, tagline, description)
	div.project
		h3.highlight.bullet(id='project-' + name.toLowerCase().replace(/\s/g, '-'))= name
		div.ml-2
			if (tagline)
				span.light.highlight= tagline
			p= description

			if (block)
				div.project-details.ml-2
					block
